{% extends "layout.j2" %}

{% block content %}
    <h1 class="text-white text-4xl font-bold mb-4">page-not-found/</h1>

    <div class="pt-4 pb-4">
        <div class="bg-white p-4 md:h-40 md:flex md:justify-center md:flex-col rounded-md mt-4 filter drop-shadow">
            <p class="mb-4">We couldn't find anything for this page.</p>

            <p>Why not <a href="/" class="text-purple-500">go home</a> and try again?</p>
        </div>
    </div>
{% endblock %}