files:
  "/usr/local/bin/index_mempool.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      export SQLALCHEMY_DATABASE_URI=$(/opt/elasticbeanstalk/bin/get-config environment -k SQLALCHEMY_DATABASE_URI)
      export HSD_HOST=$(/opt/elasticbeanstalk/bin/get-config environment -k HSD_HOST)
      export HSD_API_KEY=$(/opt/elasticbeanstalk/bin/get-config environment -k HSD_API_KEY)
      export LOG_DIR='indexers'
      export LOG_FILE='mempool_indexer'
      cd /var/app/current
      /var/app/venv/*/bin/python3 manage.py run_mempool_indexer

  "/tmp/index_mempool":
    mode: "000644"
    owner: root
    group: root
    content: |
      */1 * * * * root /usr/local/bin/index_mempool.sh

container_commands:
  move_cron:
    command: mv /tmp/index_mempool /etc/cron.d/index_mempool