container_commands:
  01_download_node:
    command: 'curl --silent --location https://rpm.nodesource.com/setup_14.x | sudo -E bash -'
  02_install_node:
    command: 'sudo yum -y install nodejs'
  03_install_packages:
    command: 'cd /var/app/staging/ui && npm i'
  04_build_frontend:
    command: 'cd /var/app/staging/ui && NODE_ENV=production npm run build'