@import "util/variables";

#bundle-root-bid-box {
  display: none;
}

.bid-box {
  &__bidding-panel {

    &__input-labels {
      color: $label-gray;
      font-weight: 500;
    }

    &__input-label {

    }

    &__spendable {

    }
  }
}
