{% for tx in mempool %}
    <div class="flex flex-row items-start border-b border-gray-100 pb-4">
        <div class="hidden md:flex rounded-sm mr-2 bg-gray-100 w-10 h-10 text-sm flex text-center flex flex-row flex-shrink-0 items-center justify-center text-gray-800 font-semibold">
            TX
        </div>
        <div class="ml-2">
            <a class="text-purple-500 text-sm" href="/tx/{{ tx.hash }}">{{ tx.hash | middle_ellipsis }}</a>
            <p class="text-gray-300 text-xs">
                {{ tx.first_seen | time_ago }}
            </p>
        </div>
        <div class="bg-gray-100 text-gray-400 px-2 py-1 ml-auto text-xs">
            {{ tx.aggregate_value | as_hns }}
        </div>
    </div>
{% endfor %}
