{% for tx in mempool %}
    <div class="flex flex-row items-center border-b border-gray-100 pb-4">
        <div class="rounded-sm mr-2 bg-gray-200 w-12 h-12 flex-shrink-0 flex text-center flex flex-row items-center justify-center text-gray-400">
            TX
        </div>
        <div class="ml-2">
            <p>{{ tx.hash | middle_ellipsis }}</p>
            <p class="text-gray-300 text-sm">
                {{ tx.first_seen | time_ago }}
            </p>
        </div>
        <div class="bg-gray-200 text-gray-400 px-2 py-1 rounded-sm ml-auto">
            {{ tx.aggregate_value | as_hns }}
        </div>
    </div>
{% endfor %}