{% extends "layout.j2" %}

{% block content %}
    <div class="pt-4 pb-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="bg-white rounded-md filter drop-shadow">
                <div class="px-4 py-2 border-b border-gray-200 flex flex-row items-center">
                    <h3 class="font-bold">Blocks</h3>
                    <a href="/blocks" class="ml-auto uppercase text-purple-500 text-xs">View All</a>
                </div>

                <div class="p-4 space-y-4">
                    {% include 'partials/block_list.j2' %}
                </div>
            </div>

            <div class="bg-white rounded-md filter drop-shadow">
                <div class="px-4 py-2 border-b border-gray-200 flex flex-row items-center">
                    <h3 class="font-bold">Mempool</h3>
                    <a href="/mempool" class="ml-auto uppercase text-purple-500 text-xs">View All</a>
                </div>

                <div class="p-4 space-y-4">
                    {% include 'partials/mempool_list.j2' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
