{% extends "layout.j2" %}

{% block content %}
    <h1 class="text-white text-2xl font-bold mb-4">Block Detail</h1>

    <div class="pt-4 mb-4">
        <div class="bg-white rounded-md filter drop-shadow">
            <div class="p-4">
                <table>
                    <tr class="md:table-row-group md:flex-row flex flex-col border-b md:border-b-0">
                        <th class="md:pr-20 md:p-2 text-left font-normal text-sm">Block Hash: </th>
                        <td class="text-sm pb-2 md:p-0 break-all">{{ block.hash }}</td>
                    </tr>
                    <tr class="md:table-row-group md:flex-row flex flex-col border-b md:border-b-0">
                        <th class="md:pr-20 md:p-2 pt-2 text-left font-normal text-sm">Height: </th>
                        <td class="text-sm font-semibold pb-2 md:p-0 break-all">{{ block.height }}</td>
                    </tr>
                    <tr class="md:table-row-group md:flex-row flex flex-col border-b md:border-b-0">
                        <th class="md:pr-20 md:p-2 pt-2 text-left font-normal text-sm">Previous Block: </th>
                        <td class="text-sm pb-2 md:p-0 break-all">
                            <a href="/blocks/{{ block.height - 1 }}" class="text-purple-500">{{ block.prev_hash }}</a>
                        </td>
                    </tr>
                    <tr class="md:table-row-group md:flex-row flex flex-col">
                        <th class="md:pr-20 md:p-2 pt-2 text-left font-normal text-sm">Merkle Root: </th>
                        <td class="text-sm md:p-0 break-all">{{ block.merkle_root }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    {% for tx in txs %}
        <div class="pt-4 pb-4">
            <div class="bg-white rounded-md filter drop-shadow">
                <div class="px-4 py-2 border-b border-gray-200">
                    <h3 class="font-semibold truncate">
                        TX # <a href="/txs/{{ tx.hash }}" class="text-purple-500">{{ tx.hash }}</a>
                    </h3>
                </div>
                <div class="p-4">
                    {% include 'partials/tx.j2' %}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="pt-4 pb-4">
        {% include 'partials/pagination.j2' %}
    </div>
{% endblock %}
