{% extends "layout.j2" %}

{% block content %}
    <h1 class="text-white text-2xl font-bold mb-4">{{ name.name | depunycode }}/</h1>

    <div class="pt-4 pb-4">
        <div class="bg-white rounded-md filter drop-shadow">
            <div class="px-4 py-2 border-b border-gray-200">
                <h3 class="font-bold">Domain Summary</h3>
            </div>

            <div class="p-4">
                <table>
                    <tr class="md:table-row-group md:flex-row flex flex-col border-b md:border-b-0">
                        <th class="md:pr-20 md:p-2 text-left font-normal text-sm">Name Hash:</th>
                        <td class="text-sm pb-2 md:p-0 break-all">{{ name.hash }}</td>
                    </tr>
                    <tr class="md:table-row-group md:flex-row flex flex-col border-b md:border-b-0">
                        <th class="md:pr-20 md:p-2 pt-2 text-left font-normal text-sm">Expiry:</th>
                        <td class="text-sm pb-2 md:p-0 break-all">
                            {{ name.renewal_height }}
                            (~{{ (name.renewal_height - block_height) | block_count_to_time }})
                        </td>
                    </tr>
                    <tr class="md:table-row-group md:flex-row flex flex-col border-b md:border-b-0">
                        <th class="md:pr-20 md:p-2 pt-2 text-left font-normal text-sm">Highest Bid:</th>
                        <td class="text-sm pb-2 md:p-0 break-all">{{ name.highest_bid | as_hns }}</td>
                    </tr>
                    <tr class="md:table-row-group md:flex-row flex flex-col">
                        <th class="md:pr-20 md:p-2 pt-2 text-left font-normal text-sm">Price Paid:</th>
                        <td class="text-sm pb-2 md:p-0 break-all">{{ name.price_paid | as_hns }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="pt-4 pb-4">
        <div class="bg-white rounded-md filter drop-shadow">
            <div class="px-4 py-2 border-b border-gray-200">
                <h3 class="font-bold">Root Zone Records</h3>
            </div>

            <div class="p-4">
                <div class="space-y-4">
                    {% for ds in name.records['DS'] %}
                        <div class="grid grid-cols-5 gap-4 border-b border-gray-200 pb-4">
                            <div>
                                <p class="text-xs text-gray-400 font-semibold mb-1">Type</p>
                                DS
                            </div>
                            <div>
                                <p class="text-xs text-gray-400 font-semibold mb-1">Key Tag</p>
                                {{ ds.key_tag }}
                            </div>
                            <div>
                                <p class="text-xs text-gray-400 font-semibold mb-1">Algorithm</p>
                                {{ ds.algorithm }}
                            </div>
                            <div>
                                <p class="text-xs text-gray-400 font-semibold mb-1">Digest Type</p>
                                {{ ds.digest_type }}
                            </div>
                            <div>
                                <p class="text-xs text-gray-400 font-semibold mb-1">Digest</p>
                                {{ ds.algorithm.hex() }}
                            </div>
                        </div>
                    {% endfor %}
                    {% for ns in name.records['NS'] %}
                        <div class="grid grid-cols-5 gap-4 border-b border-gray-200 pb-4">
                            <div class="text-reg">
                                <p class="text-xs text-gray-400 font-semibold mb-1">Type</p>
                                NS
                            </div>
                            <div class="text-reg">
                                <p class="text-xs text-gray-400 font-semibold mb-1">NS</p>
                                {{ ns.ns }}
                            </div>
                        </div>
                    {% endfor %}
                    {% for glue in name.records['GLUE4'] %}
                        <div class="grid grid-cols-5 gap-4 border-b border-gray-200 pb-4">
                            <div class="text-reg">
                                <p class="text-xs text-gray-400 font-semibold mb-1">Type</p>
                                GLUE4
                            </div>
                            <div class="text-reg">
                                <p class="text-xs text-gray-400 font-semibold mb-1">NS</p>
                                {{ glue.ns }}
                            </div>
                            <div class="text-reg">
                                <p class="text-xs text-gray-400 font-semibold mb-1">Address</p>
                                {{ glue.address }}
                            </div>
                        </div>
                    {% endfor %}
                    {% for glue in name.records['GLUE6'] %}
                        <div class="grid grid-cols-5 gap-4 border-b border-gray-200 pb-4">
                            <div class="text-reg">
                                <p class="text-xs text-gray-400 font-semibold mb-1">Type</p>
                                GLUE6
                            </div>
                            <div class="text-reg">
                                <p class="text-xs text-gray-400 font-semibold mb-1">NS</p>
                                {{ glue.ns }}
                            </div>
                            <div class="text-reg">
                                <p class="text-xs text-gray-400 font-semibold mb-1">Address</p>
                                {{ glue.address }}
                            </div>
                        </div>
                    {% endfor %}
                    {% for synth in name.records['SYNTH4'] %}
                        <div class="grid grid-cols-5 gap-4 border-b border-gray-200 pb-4">
                            <div class="text-reg">
                                <p class="text-xs text-gray-400 font-semibold mb-1">Type</p>
                                SYNTH4
                            </div>
                            <div class="text-reg">
                                <p class="text-xs text-gray-400 font-semibold mb-1">Address</p>
                                {{ synth.address }}
                            </div>
                        </div>
                    {% endfor %}
                    {% for synth in name.records['SYNTH6'] %}
                        <div class="grid grid-cols-5 gap-4 border-b border-gray-200 pb-4">
                            <div class="text-reg">
                                <p class="text-xs text-gray-400 font-semibold mb-1">Type</p>
                                SYNTH6
                            </div>
                            <div class="text-reg">
                                <p class="text-xs text-gray-400 font-semibold mb-1">Address</p>
                                {{ synth.address }}
                            </div>
                        </div>
                    {% endfor %}
                    {% for txt in name.records['TXT'] %}
                        <div class="grid grid-cols-5 gap-4 border-b border-gray-200 pb-4">
                            <div class="text-reg">
                                <p class="text-xs text-gray-400 font-semibold mb-1">Type</p>
                                TXT
                            </div>
                            <div class="text-reg">
                                <p class="text-xs text-gray-400 font-semibold mb-1">Entries</p>
                                {% for entry in txt.entries %}
                                    {{ entry.decode('utf-8') }}<br>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="pt-4 pb-4">
        <div class="bg-white rounded-md filter drop-shadow">
            <div class="px-4 py-2 border-b border-gray-200">
                <h3 class="font-bold">Transaction History</h3>
            </div>
            <div class="p-4 space-y-2">
                {% for out in name.outputs %}
                    {% if out.covenant_action == 'BID' %}
                        <div class="flex flex-row items-center border-b border-gray-200 pb-2">
                            <div class="hidden md:flex rounded-sm mr-2 bg-gray-100 w-10 h-10 text-sm flex text-center flex flex-row flex-shrink-0 items-center justify-center text-gray-800 font-semibold">
                                BID
                            </div>
                            <div class="ml-2 flex-grow-0">
                                <div>
                                    <a href="/txs/{{ out.tx_hash }}" class="text-purple-500 text-reg">
                                        {{ out.tx_hash | middle_ellipsis }}
                                    </a>
                                </div>
                                <div class="text-gray-400 text-xs">{{ out.tx.mtime | time_ago }}</div>
                            </div>
                            <div class="ml-auto text-right">
                                {% if out.corresponding_reveal %}
                                    <div class="text-reg">{{ out.corresponding_reveal.value | as_hns }}</div>
                                    <div class="text-gray-400 text-xs">
                                        + {{ (out.value - out.corresponding_reveal.value) | as_hns }} added
                                        blind
                                    </div>
                                {% else %}
                                    <div class="text-reg">{{ out.value | as_hns }}</div>
                                    <div class="text-gray-400 text-xs">bid never revealed</div>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="flex flex-row items-center border-b border-gray-200 pb-2">
                            <div class="flex-grow-0">
                                <div class="hidden md:flex rounded-sm mr-2 bg-gray-100 w-10 h-10 text-sm flex text-center flex flex-row flex-shrink-0 items-center justify-center text-gray-800 font-semibold">
                                    {% if out.covenant_action == 'OPEN' %}
                                        OPN
                                    {% elif out.covenant_action == 'BID' %}
                                        BID
                                    {% elif out.covenant_action == 'REVEAL' %}
                                        REV
                                    {% elif out.covenant_action == 'REGISTER' %}
                                        REG
                                    {% elif out.covenant_action == 'TRANSFER' %}
                                        XFR
                                    {% elif out.covenant_action == 'FINALIZE' %}
                                        FLZ
                                    {% elif out.covenant_action == 'RENEW' %}
                                        RNW
                                    {% elif out.covenant_action == 'REDEEM' %}
                                        RDM
                                    {% elif out.covenant_action == 'UPDATE' %}
                                        UPD
                                    {% elif out.covenant_action == 'CLAIM' %}
                                        CLM
                                    {% endif %}
                                </div>
                            </div>
                            <div class="ml-2 flex-grow-0">
                                <div>
                                    <a href="/txs/{{ out.tx_hash }}" class="text-purple-500 text-reg">
                                        {{ out.tx_hash | middle_ellipsis }}
                                    </a>
                                </div>
                                <div class="text-gray-400 text-xs">{{ out.tx.mtime | time_ago }}</div>
                            </div>
                            <div class="bg-gray-100 text-gray-400 px-2 py-1 ml-auto text-xs rounded-sm">
                                {{ out.value | as_hns }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
