{% extends "layout.j2" %}

{% block content %}
    <h1 class="text-white text-4xl font-bold mb-4">Search Results</h1>

    <div class="pt-4 pb-4">
        <div class="bg-white rounded-md drop-shadow">
            <div class="px-4 py-2 border-b border-gray-200">
                <h3 class="font-bold">Names</h3>
            </div>
            <div class="p-4">
                <div class="space-y-4">
                    {% for name in names %}
                        <div class="flex flex-row items-center border-b border-gray-200 pb-4">
                            <div class="rounded-sm mr-2 bg-gray-200 w-12 h-12 flex text-center flex flex-row items-center justify-center text-gray-400">
                                NM
                            </div>
                            <div>
                                <a href="/names/{{ name.name }}" class="text-purple-500">{{ name.name }}/</a>
                            </div>
                            <div class="bg-gray-200 text-gray-400 px-2 py-1 rounded-sm ml-auto">
                                {{ name.status['status'] }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="pt-4 pb-4">
        {% include 'partials/pagination.j2' %}
    </div>
{% endblock %}