{% extends "layout.j2" %}

{% block content %}
    <h1 class="text-white text-4xl font-bold mb-4">Transaction Detail</h1>

    <div class="pt-4 mb-4">
        <div class="bg-white rounded-md filter drop-shadow">
            <div class="px-4 py-2 border-b border-gray-200">
                <h3 class="font-bold">Transaction Summary</h3>
            </div>
            <div class="p-4">
                <table>
                    <tr>
                        <th class="pb-2 pr-2 text-left font-light">Transaction Hash</th>
                        <td class="pb-2">{{ tx.hash }}</td>
                    </tr>
                    <tr>
                        <th class="pb-2 pr-2 text-left font-light">Block</th>
                        <td class="pb-2">
                            <a href="/blocks/{{ tx.block_height }}" class="text-purple-500">{{ tx.block_height }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th class="pb-2 pr-2 text-left font-light">Time</th>
                        <td class="pb-2">{{ tx.mtime | format_datetime('%B %d, %Y %I:%M:%S %Z') }}</td>
                    </tr>
                    <tr>
                        <th class="pb-2 pr-2 text-left font-light">Amount</th>
                        <td class="pb-2">{{ tx.output_amount | as_hns }}</td>
                    </tr>
                    <tr>
                        <th class="pb-2 pr-2 text-left font-light">Fee</th>
                        <td class="pb-2">{{ tx.fee | as_hns }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="pt-4 pb-4">
        <div class="bg-white rounded-md filter drop-shadow">
            <div class="px-4 py-2 border-b border-gray-200">
                <h3 class="font-bold">Transaction Detail</h3>
            </div>
            <div class="p-4">
                {% include 'partials/tx.j2' %}
            </div>
        </div>
    </div>
{% endblock %}