{% extends "layout.j2" %}

{% block content %}
    <h1 class="text-white text-2xl font-bold mb-4">Transaction Detail</h1>

    <div class="pt-4 mb-4">
        <div class="bg-white rounded-md filter drop-shadow">
            <div class="px-4 py-2 border-b border-gray-200">
                <h3 class="font-bold">Transaction Summary</h3>
            </div>
            <div class="p-4">
                <table>
                    <tr class="md:table-row-group md:flex-row flex flex-col border-b md:border-b-0">
                        <th class="md:pr-20 md:p-2 text-left font-normal text-sm">Transaction Hash:</th>
                        <td class="text-sm font-semibold pb-2 md:p-0 break-all">{{ tx.hash }}</td>
                    </tr>
                    <tr class="md:table-row-group md:flex-row flex flex-col border-b md:border-b-0">
                        <th class="md:pr-20 md:p-2 pt-2 text-left font-normal text-sm">Block:</th>
                        <td class="text-sm pb-2 md:p-0 break-all">
                            <a href="/blocks/{{ tx.block_height }}" class="text-purple-500">{{ tx.block_height }}</a>
                        </td>
                    </tr>
                    <tr class="md:table-row-group md:flex-row flex flex-col border-b md:border-b-0">
                        <th class="md:pr-20 md:p-2 pt-2 text-left font-normal text-sm">Time:</th>
                        <td class="text-sm pb-2 md:p-0 break-all">{{ tx.mtime | format_datetime('%B %d, %Y %I:%M:%S %Z') }}</td>
                    </tr>
                    <tr class="md:table-row-group md:flex-row flex flex-col border-b md:border-b-0">
                        <th class="md:pr-20 md:p-2 pt-2 text-left font-normal text-sm">Amount</th>
                        <td class="text-sm pb-2 md:p-0 break-all">{{ tx.output_amount | as_hns }}</td>
                    </tr>
                    <tr class="md:table-row-group md:flex-row flex flex-col">
                        <th class="md:pr-20 md:p-2 pt-2 text-left font-normal text-sm">Fee:</th>
                        <td class="text-sm pb-2 md:p-0 break-all">{{ tx.fee | as_hns }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="pt-4 pb-4">
        <div class="bg-white rounded-md filter drop-shadow">
            <div class="px-4 py-2 border-b border-gray-200">
                <h3 class="font-bold">Transaction Detail</h3>
            </div>
            <div class="p-4">
                {% include 'partials/tx.j2' %}
            </div>
        </div>
    </div>
{% endblock %}
