{% extends "layout.j2" %}

{% block content %}
    <div class="pt-4 pb-4">
        <div class="bg-white rounded-md filter drop-shadow">
            <div class="px-4 py-2 border-b border-gray-200 flex flex-row">
                <h3 class="font-bold">Transactions</h3>
            </div>

            <div class="p-4 space-y-4">
                {% for tx in txs %}
                    <div class="flex flex-row border-b border-gray-100 pb-4 items-center last:border-b-0 last:pb-0">
                        <div class="hidden md:flex rounded-sm mr-2 bg-gray-100 w-10 h-10 text-sm flex text-center flex flex-row flex-shrink-0 items-center justify-center text-gray-800 font-semibold">
                            TX
                        </div>
                        <div class="flex-shrink">
                            <a class="text-purple-500 text-reg" href="/txs/{{ tx.hash }}">{{ tx.hash | middle_ellipsis }}</a>
                            <p class="text-gray-300 text-xs">{{ tx.block.time | time_ago }}</p>
                        </div>
                        <div class="bg-gray-100 text-gray-400 px-2 py-1 ml-auto text-xs rounded-sm self-start flex-shrink-0">
                            {{ tx.output_amount | as_hns }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="pt-4 pb-4">
        {% with page_count=page_count,result_count=result_count,page=page,per_page=per_page %}
            {% include 'partials/pagination.j2' %}
        {% endwith %}
    </div>
{% endblock %}
